// COLORS
// $primary-color: #cd00cd;
// $secondary-color:#340034;

$primary-color: #d8b77a;
$secondary-color: #B29155;

$white-color: #fcfcfb; 

$dark-grey: #4C4C4C; //Footer

$dark-blue-text: #31323A; // For Headings #31323A  <- darkblue

$text-new: #31323A;
// FONT SIZE
$default-font-size: 1.7rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
